{%extends 'base.html'%}

{% block content%}
    <div class="form" style="margin-top: 10px; display: block; margin-top: 70px; font-size: large;">
        <form action="" method="POST"  class="border rounded" style="width:40%; margin:auto; padding:10px">
            <h3 class="alert  light">Log in Here</h3>
            <hr>
            {% csrf_token %}
        {% if error%}
         <div class="alert alert-danger" role="alert">
           {{error}}
         </div>
        {% endif %}
        {% for field in form %}
        <div class="mb-5">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="button" style="display: flex; justify-content: center;">
            <input type="submit" class="mt-2 mb-4 p-3 btn btn-large btn-info" value="Log in">

        </div>
     
    </form>
    </div>
      
</div>

</div>


    

{% endblock %}