{%extends 'base.html'%}

{% block content%}
<div class="form" style="display: flex; justify-content: center; margin-top: 40px; font-size: large;">
        <form action="" method="POST"  class="mx-auto p-4 m-4 col-lg-4 border rounded">
            <h3 class="alert light mb-0">Create an account</h3>
            <hr>
            {% csrf_token %}
        {% if error%}
         <div class="alert alert-danger" role="alert">
           {{error}}
         </div>
        {% endif %}
        {% for field in form %}
        <div class="mb-4">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="button" style="display: flex; justify-content: center;">
        <input type="submit" class="mt-4 btn btn-large btn-info" value="Create an Account">
        </div>
    </form>
</div>

    

{% endblock %}